.wrapper>footer{

    
}

.wrapper>footer>.footer-top{

}
.wrapper>footer>.footer-top>ul{
    border-bottom: 2px  solid;
    border-top: 2px  solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper>footer>.footer-top>ul>li{
    border-left: 2px solid;
    border-right: 2px solid;
    margin: 5px;
}
.wrapper>footer>.footer-top>ul>li>a{
    margin: 5px;
    
}

.wrapper>footer>.footer-body{
    border: 1px solid;
    height: 300px;
}

.wrapper>footer>.footer-bottom{
    border: 1px solid;
    height: 5px;
}